html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}

header h2 {
  font-weight: bold;
}

footer p {
  font-size: 16px;
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.floating {
  float: left;
}

.showResults,
.filter {
  width: 17%;
  display: block;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;

  h2 {
    font-size: 16px;
    text-align: left;
  }

  h3 {
    font-size: 17px;
    text-align: center;
    border-bottom: 1px solid #858585;
    color: #858585;
    font-weight: normal;
  }

  button {
    background-color: #c5e09b;
    border: 1px solid #c5e09b;
    margin: 5px;
    border-radius: 3px;
    width: 45%;
    padding: 8px 0px;
  }
}

button {
  cursor: pointer;
}

.filter {
  button.active {
    background-color: #88c73e;
  }
}




